---
import { Icon } from "astro-icon/components";
import { Separator } from "../ui/separator";
import { Button } from "../ui/button";
---

<footer class="bg-theme-darkGrey pt-[5.25rem] pb-[5.75rem] relative">
  <Icon name="oval" class="text-9xl absolute bottom-56" />
  <section class="layout">
    <div class="mb-24 flex justify-between gap-60">
      <div>
        <h2 class="text-theme-white mb-9">Contact</h2>
        <p class="text-theme-Grey xl:max-w-[456px] mb-9">
          I would love to hear about your project and how I could help. Please
          fill in the form, and I’ll get back to you as soon as possible.
        </p>
      </div>
      <form action="/succes" method="post" class="group">
        <input
          type="text"
          id="name"
          name="name"
          required
          placeholder="name"
          class="inputField"
        />

        <div class="flex flex-col">
          <input
            type="email"
            id="email"
            name="email"
            required
            placeholder="email"
            class="inputField peer"
          />
          <span
            class="mt-2 ml-auto hidden text-sm text-theme-error peer-[&:not(:placeholder-shown):not(:focus):invalid]:block"
          >
            Sorry, invalid format here
          </span>
        </div>
        <textarea
          id="message"
          name="message"
          rows="4"
          cols="50"
          placeholder="message"
          class="inputField resize-none"
          required></textarea>
        <Button
          className="group-invalid:pointer-events-none group-invalid:opacity-30"
          >Send Message</Button
        >
      </form>
    </div>
    <Separator className="mb-12" />
    <div class="flex justify-between text-theme-white">
      <h2 class="text-[2rem] font-bold">joeyquandt</h2>
      <ul class="flex justify-between gap-6">
        <li>
          <a href="/">
            <Icon name="github" class="text-2xl" />
          </a>
        </li>
        <li>
          <a href="/">
            <Icon name="linkedin" class="text-2xl" />
          </a>
        </li>
        <li>
          <a href="/">
            <Icon name="mail" class="text-2xl" />
          </a>
        </li>
      </ul>
    </div>
  </section>
</footer>
