---
import Oval from "@/icons/oval";
import NavItems from "./NavItems.astro";
import { Separator } from "../ui/separator";
import Form from "../ui/Form.astro";
import type { Global_BloksQuery } from "tina/__generated__/types";
import RichText from "../ui/RichText";

interface Props {
  data: Global_BloksQuery;
}

const { data } = Astro.props;
---

<footer
  class="bg-theme-darkGrey lg:pt-[5.25rem] lg:pb-[5.75rem] pb-16 pt-14 relative"
>
  <Oval
    className="text-9xl absolute lg:bottom-56 bottom-72 max-lg:left-[-250px]"
  />
  <section class="layout">
    <div
      class="lg:mb-24 flex max-lg:flex-col max-lg:flex-wrap justify-between xl:gap-60 mb-20"
    >
      <div>
        <h2 class="text-theme-white lg:mb-10 max-md:text-center mb-5">
          {data.global_bloks.footerTitle}
        </h2>
        <RichText
          data={data.global_bloks.footerText}
          className="text-theme-Grey xl:max-w-[456px] mb-9 max-md:text-center"
        />
      </div>
      <Form />
    </div>
    <Separator className="mb-12" />
    <div
      class="flex justify-between text-theme-white max-md:flex-col max-md:justify-center max-md:items-center max-md:gap-4"
    >
      <NavItems data={data} />
    </div>
  </section>
</footer>
