---
import Linkedin from "@/icons/Linkedin";
import Mail from "@/icons/Mail";
import Github from "@/icons/Github";

import type { Global_BloksQuery } from "tina/__generated__/types";
interface Props {
  data: Global_BloksQuery;
}

const { data } = Astro.props;
---

<a href="/">
  <h2
    class="text-[2rem] font-bold transition duration-300 ease-out hover:text-theme-green"
  >
    {data.global_bloks.logo}
  </h2>
</a>
<ul class="flex items-center justify-between gap-6">
  {
    data.global_bloks.navigation_items?.map((item) => {
      return (
        <li>
          <a
            href={item?.navigation_link}
            target="_blank"
            aria-label={item?.iconType}
          >
            {() => {
              switch (item?.iconType) {
                case "Linkedin":
                  return (
                    <Linkedin className="text-2xl transition duration-300 ease-out text-theme-white hover:text-theme-green" />
                  );
                case "Mail":
                  return (
                    <Mail className="text-2xl transition duration-300 ease-out text-theme-white hover:text-theme-green" />
                  );
                case "Github":
                  return (
                    <Github className="text-2xl transition duration-300 ease-out text-theme-white hover:text-theme-green" />
                  );
              }
            }}
          </a>
        </li>
      );
    })
  }
</ul>


