---
import Layout from "@/layouts/Layout.astro";
import { Button } from "@/components/ui/button";
import { Icon } from "astro-icon/components";
---

<Layout title="Succes">
  <section
    class="flex flex-col justify-center items-center h-screen relative overflow-hidden"
  >
    <Icon name="oval" class="text-9xl absolute left-0 top-24" />
    <Icon
      name="oval_two"
      class="text-[175px] absolute right-[-25px] bottom-40"
    />
    <div class="text-center flex flex-col items-center gap-6">
      <h1>Thank you!</h1>
      <p class="max-w-[445px]">
        I have received your completed form and will contact you as soon as
        possible.
      </p>
      <a href="/">
        <Button>Return to the HomePage</Button>
      </a>
    </div>
  </section>
</Layout>
