---
import client from "tina/__generated__/client";
import TinaCMS from "@/components/TinaCMS";
import Layout from "@/layouts/Layout.astro";
import {
  Breadcrumb,
  BreadcrumbItem,
  BreadcrumbLink,
  BreadcrumbList,
  BreadcrumbPage,
  BreadcrumbSeparator,
} from "@/components/ui/breadcrumb";
import { Button } from "@/components/ui/button";
import { Undo2 } from "lucide-react";

export async function getStaticPaths() {
  const pageData = await client.queries.projectsConnection();
  const pagePaths = pageData.data.projectsConnection.edges;

  /*Dynamic slug Check*/
  return pagePaths?.map((item) => {
    const slug =
      item?.node?._sys.filename === "home" ? "/" : item?.node?._sys.filename;
    const filename = item?.node?._sys.basename;
    return {
      params: { slug },
      props: { filename },
    };
  });
}

const { filename } = Astro.props;

const response = await client.queries.projects({
  relativePath: filename ?? "",
});
---

<Layout title="Projects">
  <!-- <TinaCMS client:load tinaData={response} type="projects" /> -->
  <section class="layout pt-40 pb-32">
    <div class="flex justify-between items-center mb-8">
      <Breadcrumb>
        <BreadcrumbList className="text-base">
          <BreadcrumbItem>
            <BreadcrumbLink
              className="text-theme-white hover:text-theme-green"
              href="/">Home</BreadcrumbLink
            >
          </BreadcrumbItem>
          <BreadcrumbSeparator />
          <BreadcrumbItem>
            <BreadcrumbLink
              className="text-theme-white hover:text-theme-green"
              href="/components">Projects</BreadcrumbLink
            >
          </BreadcrumbItem>
          <BreadcrumbSeparator />
          <BreadcrumbItem>
            <BreadcrumbPage className="text-theme-green"
              >Personal Development</BreadcrumbPage
            >
          </BreadcrumbItem>
        </BreadcrumbList>
      </Breadcrumb>
      <a href="/">
        <Button
          size="icon"
          aria-label="Return"
          className="bg-theme-green rounded-lg hover:bg-theme-white"
        >
          <Undo2 />
        </Button>
      </a>
    </div>
    <section>
      <img
        src="/media/personal_development_hero.jpg"
        class="w-full max-h-[500px] object-cover bg-custom-gradient pr-6 pl-6 mb-20"
        alt="hero"
      />
      <h2 class="mb-10">Wie ben ik?</h2>
      <p class="mb-5">
        Ik ben een front-end developer met een achtergrond in Communicatie &
        Multimedia Design. Ik combineer techniek en design om toegankelijk,
        intuïtieve en gebruiksvriendelijke webapplicaties te bouwen. Ik haal
        energie uit het creëren van interfaces die niet alleen mooi zijn, maar
        voor iedereen werken.
      </p>
      <h2 class="mb-10">Wat kan ik?</h2>
      <h3 class="mb-8">
        2.1 Uitkomsten van de Big Five personaliteitstests + reflectie
      </h3>
      <img
        src="/media/resultaten.jpg"
        class="md:max-w-[500px] w-full h-full mb-8"
        alt="hero"
      />
      <p class="mb-5">
        Na het maken van de Big Five persoonlijkheidstest kwam ik tot de
        resultaten zoals weergegeven in figuur 1. Over het algemeen herken ik
        mezelf goed in de uitslag. De vragen vond ik soms wat apart
        geformuleerd, maar uiteindelijk heb ik alles eerlijk ingevuld op basis
        van mijn persoonlijkheid.
      </p>
      <p class="mb-5">
        Wat mij opviel, was mijn extraversiescore van 65%. Dit vond ik
        verrassend, omdat ik mezelf meestal niet zie als iemand die graag
        leiderschapsrollen op zich neemt. Toch herken ik me in de sociale en
        communicatieve kanten van extraversie: ik werk graag samen en voel me
        prettig in groepsverband. Op dit vlak zou ik me verder willen
        ontwikkelen door meer leiding te durven nemen tijdens projecten en vaker
        actief input te geven binnen een team.
      </p>
      <p class="mb-5">
        Kortom, ik herken mezelf goed in de testuitslag. Ik zie vooral kansen om
        mezelf te verbeteren op het gebied van leiderschap binnen extraversie en
        openheid voor nieuwe ervaringen, zodat ik zowel persoonlijk als
        professioneel kan groeien.
      </p>
      <h3 class="mb-8">2.2 Uitkomsten van de kleurentest van de Caluwe</h3>
      <img
        src="/media/kleurentest.jpg"
        class="md:max-w-[500px] w-full h-full mb-8"
        alt="hero"
      />
      <p class="mb-5">
        Uit de kleurentest kwamen mijn top drie kleuren blauw, geel en
        rood.Blauw past goed bij mij, omdat ik graag gestructureerd werk en
        duidelijkheid belangrijk vind. Geel herken ik in hoe ik graag samenwerk
        en iedereen wil betrekken bij beslissingen. Rood zie ik terug in mijn
        aandacht voor sfeer en motivatie in een team.
      </p>
      <p class="mb-5">
        Een voorbeeld van een verandering was <a
          href="/"
          class="text-theme-green underline">tijdens</a
        > een project waar we opeens moesten samenwerken in plaats van individueel
        te werken. In het begin vond ik dat lastig, maar ik zorgde al snel voor een
        duidelijke planning (blauw) en hielp het team goed samen te werken (geel en
        rood). Op mijn eerste werkdag na het afstuderen verwacht ik dat ik vooral
        nieuwsgierig en een beetje zenuwachtig ben. Ik wil dan goed luisteren, vragen
        stellen en laten zien dat ik enthousiast ben.
      </p>

      <p>Vijf tips voor mijzelf</p>
      <ol>
        <li>1. Blijf rustig en stel vragen</li>
        <li>2. Luister goed naar collega's</li>
        <li>3. Wees sociaal en open.</li>
        <li>4. Schrijf belangrijke dingen op.</li>
        <li>5. Geniet van de ervaring.</li>
      </ol>
    </section>
  </section>
</Layout>
